{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Elektrisierend ;)</h2>
<p>Welcome back {{ first_name }} {{ last_name }}!</p>
<p>Your electricity meter id: {{ em_id }}</p>
<p>Your current reading: {{ em_reading }}</p>
<p>Your Bank Details: {{ iban }}</p>
<p>Your phone number: {{ phone }}</p>
<p>Your email adress: {{ email }}</p>
<p>Welcome back {{ first_name }} {{ last_name }}!</p>
<p>Your electricity meter id: {{ em_id }}</p>
<p>Your current reading: {{ em_reading }}</p>
<p>Your Bank Details: {{ iban }}</p>
<p>Your phone number: {{ phone }}</p>
<p>Your email adress: {{ email }}</p>
<a href="{{ url_for('edit_profile') }}"></i>Edit your Profile</a>
{% endblock %}