version: "3"
services:
  meter:
    build: stromzähler/
    restart: unless-stopped
    volumes:
      - ./app/save_meters.json:./stromzähler/save_meters.json
    networks:
      stromi_net:
  msb:
    build: ./webportal_msb/
    restart: unless-stopped
    env_file: .env
    depends_on:
      - mongo
    networks:
      stromi_net:
  kp:
    build: ./webportal_kp/
    restart: unless-stopped
    env_file: .env
    depends_on:
      - mongo
    networks:
      stromi_net:
  nginx:
    image: nginx:latest
    container_name: production_nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
      - "443:443"
    networks:
      stromi_net:
networks:
  stromi_net:
