.navbar-brand img {
    max-width: 60px;
    max-height: 60px;
}

.navbar-brand img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.navbar-brand:hover img {
  -webkit-animation: brand-image-spin 5s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes brand-image-spin
{
	from {
		transform: rotate(-120deg)
		           translate(0px)
		           rotate(120deg);
	}
	to {
		transform: rotate(-480deg)
		           translate(150px)
		           rotate(480deg);
	}
}