{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="edit_profile">
<h2>Home Page</h2>
<form action="{{ url_for('edit_profile') }}" method="post" autocomplete="off">
    <label for="username"><p>Username</p></label>
    <input type="text" name="username" value="{{ username }}">
    <label for="email"><p>Email address</p></label>
    <input type="email" name="email" value="{{ email }}">
    <label for="phone"><p>Phone number</p></label>
    <input type="tel" name="phone" value="{{ phone }}">
    <div class="error">{{ error }}</div>
    <input type="submit" value="Submit Changes">
</form>
<form action="{{ url_for('profile') }}">
    <input type="submit" value="Cancel">
</form>
</div>
{% endblock %}