{% extends 'layout.html' %}

{% block title %}Register{% endblock %}
{% block additional_headers %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex align-items-center justify-content-end p-0 m-0 register">
        <div class="border border-success register-right">
            {% if errors %}
                {% for error in errors %}
                    <div class="alert alert-info" role="alert">
                      {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <h3 class="p-3">Jetzt Vertrag abschließen {{ error }}</h3>
            <form action="{{ url_for('register') }}", method="post" autocomplete="off" class="d-flex flex-column justify-content-center">
                <div class="row my-2">
                    <div class="col">
                        <input id="register-firstname" class="form-control" placeholder="Vorname" name="first_name", value="{{ sub_data.get("first_name", "") }}">
                    </div>
                    <div class="col">
                        <input id="register-lastname" class="form-control" placeholder="Nachname" name="last_name", value="{{ sub_data.get("last_name", "") }}">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <input id="register-email" class="form-control" placeholder="Email" name="email" type="email", value="{{ sub_data.get("email", "") }}">
                    </div>
                    <div class="col">
                        <input id="register-tel" class="form-control" placeholder="Telefon" name="phone" type="tel", value="{{ sub_data.get("phone", "") }}">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <input id="register-address" class="form-control" placeholder="Adresse" name="address", value="{{ sub_data.get("address", "") }}">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <input id="register-state" class="form-control" placeholder="Bundesland" name="state", value="{{ sub_data.get("state", "") }}">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <input id="register-zip" class="form-control" placeholder="Postleitzahl" name="zip_code" type="number", value="{{ sub_data.get("zip_code", "") }}">
                    </div>
                    <div class="col">
                        <input id="register-city" class="form-control" placeholder="Stadt" name="city", value="{{ sub_data.get("city", "") }}">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <input id="register-iban" class="form-control" placeholder="IBAN" name="iban", value="{{ sub_data.get("iban", "") }}">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <input id="register-username" class="form-control" placeholder="Nutzername" name="username", value="{{ sub_data.get("username", "") }}">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <div class="input-group">
                            <input id="register-password" class="form-control" type="password" name="password" placeholder="Passwort", value="{{ sub_data.get("password", "") }}">
                            <i id="register-toggle-pw" type="button" class="btn btn-outline-dark bi bi-eye-slash-fill"
                                aria-label="Show password as plain text. Warning: this will display your password on the screen.">
                            </i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input id="register-repeat-pw" class="form-control" type="password" placeholder="Wiederhole Passwort", value="{{ sub_data.get("password", "") }}">
                            <i id="register-toggle-pw2" type="button" class="btn btn-outline-dark bi bi-eye-slash-fill"
                                aria-label="Show password as plain text. Warning: this will display your password on the screen.">
                            </i>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <h5>Besitzt bereits einen smarten Stromzähler?</h5>
                    <div class="col">
                        <input id="register-em-id" class="form-control" placeholder="Hier ID deines Stromzählers eintragen" name="em_id", value="{{ sub_data.get("em_id", "") }}">
                    </div>
                </div>
                <div class="row p-3">
                    <button type="submit" class="btn btn-success">Vertrag abschließen</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='register.js') }}"></script>
{% endblock %}
