<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Worker</title>
    <link rel="stylesheet" href="/static/Management.css">
</head>
<body>
    <h1>Service Worker</h1>
    <text style="color:darkred">Only available for simulation purposes.</text>
    <div>
        <label for="meter_selection">Wähle Stromzähler</label>
        <select id="meter_selection" name="meter_uuid">
            {% for meter in meter_list %}
                <option>{{ meter }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="info">
        <text>Messages</text>
        <div id="info_content"></div>
    </div>
    <div id="control">
        <button onclick="create_meter()">Bestelle Smartmeter</button>
        <button onclick="setup_meter()">Beginne Einrichtung</button>
    </div>
    <script src="/static/Management.js"></script>
</body>
</html>