{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Hier ist die Seite für die Vertragleute</h2>
<p>Keine Ahnung was man hier so reinmachen könnte</p>
<p>{{ error }}</p>
<p>ContractID: {{ contract_id }}</p>
<p>Username: {{ username }}</p>
<p>First Name: {{ first_name }}</p>
<p>Last name: {{ last_name }}</p>
<p>Electricity Meter ID: {{ em_id }}</p>
<p>Current reading: {{ em_reading }}</p>
<p>State: {{ state }}</p>
<p>ZIP Code: {{ zip_code }}</p>
<p>City: {{ city }}</p>
<p>Address: {{ address }}</p>
<p>Bank details: {{ iban }}</p>
<p>Phone number: {{ phone }}</p>
<p>Email adress: {{ email }}</p>
<p><a href="{{ url_for('edit_contract')+'?contract_id='+contract_id  }}">Edit contract</a></p>
<img src="{{ url_for('static', filename='stromi_stromson.png') }}" id="content-img"><span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
    
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</span>
{% endblock %}