{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid d-flex align-items-center justify-content-center">
        {% if case_data %}
            <div class="container m-3 p-4 border border-success rounded-2">
                <div class="row">
                    <div class="col my-1">
                        <label for="case-title" class="form-label">Titel</label>
                        <div id="case-title" class="px-2 py-1 border border-primary rounded-1 text-bg-secondary">{{ case_data["title"] }}</div>
                    </div>
                    <div class="col-3 my-1">
                        <label for="case-status" class="form-label">Status</label>
                        <div id="case-status" class="px-2 py-1 border border-primary rounded-1 text-bg-secondary">{{ case_data["status"] }}</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-4 my-1">
                        <label for="case-id" class="form-label">Fall ID</label>
                        <div id="case-id" class="px-2 py-1 border border-primary rounded-1 text-bg-secondary">{{ case_data["case_id"] }}</div>
                    </div>
                    <div class="col-5 col-sm-6 my-1">
                        <label for="case-opened" class="form-label">Eröffnet am</label>
                        <div id="case-opened" class="px-2 py-1 border border-primary rounded-1 text-bg-secondary">{{ case_data["opened"].strftime('%d.%m.%Y %H:%M') }}</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-6 col-sm-10 col-md-7 my-1">
                        <label for="case-device-uuid" class="form-label">Geräte ID</label>
                        <div class="input-group">
                            <div id="case-device-uuid" class="px-2 py-1 border border-primary rounded-1 text-bg-secondary">{{ case_data["device_uuid"] }}</div>

                            <a href="{{ url_for('maintenance')+'?id=' + case_data["device_uuid"] + '&case-id=' + case_data["case_id"]|string}}"><button class="btn btn-outline-success" type="button">🖥️</button></a>
                        </div>
                    </div>
                    <div class="col-4 my-1">
                        <label for="case-opened-by" class="form-label">Eröffnet von</label>
                        <div id="case-opened-by" class="px-2 py-1 border border-primary rounded-1 text-bg-secondary">{{ case_data["opened_by"] }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-1">
                        <label for="case-description" class="form-label">Beschreibung</label>
                        <div id="case-description" class="px-2 py-1 border border-primary rounded-1 text-bg-secondary">{{ case_data["description"] }}</div>
                    </div>
                </div>
                <hr>
                <div class="row vstack gap-3">
                    <label class="form-label">Kommentare</label>
                    {% for comment in case_data["comments"] %}
                    <div class="px-2 py-1 border border-primary rounded-1 text-bg-secondary">
                        <div class="d-flex justify-content-between">
                            <div>
                                🧑 {{ comment["name"] }}
                            </div>
                            <div class="badge text-bg-success">
                                {{ comment["time"].strftime('%d.%m.%Y %H:%M')  }}
                            </div>
                        </div>
                        <div>
                            {{ comment["comment"] }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <form action="/support-case/", method="get", enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <label for="case-id" class="form-label">Support Fall ID</label>
                    <input name="case-id" id="case-id" type="number" class="form-control" required/>
                </div>
                <button type="submit" class="btn btn-primary">Absenden</button>
            </form>
        {% endif %}
    </div>

{% endblock %}